.login {
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__box {
    width: 506px;
    height: 534px;
    background-color: white;
    display: flex;
}

.login__box--hello {
    font-size: 64px; 
    font-weight: 600;
    line-height: 96px;
    padding-top: 52px;
}

.login__box--space {
    padding-left: 77px;
}

.login__box--form {
    line-height: 3;
}

.login__box--form h1{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.login__box--form input{
    padding-top: 4px;
    border-radius: 8px;
    border: 1px solid #A8A8B3;
    padding: 10px;
    width: 300px;

}

.login__box--button {
    margin-top: 28px;
    background-color: #0A4ED0;
    width: 321px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.login__box--button img{
    align-items: center;
    width: 20px;
}

.login__box--button h1{
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.login__box--text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.login__box--link{
    margin-top: 28px;
    text-align: center;
}